body
{
    background-color: rgb(231, 229, 229); 
    font-family:Arial, Helvetica, sans-serif;
}
h1
{
    background-color: gold;
    text-align: center;
}
h2
{
    background-color: gold;
    text-align: center;
}
