body {
    background-color: antiquewhite;
    color: cornflowerblue;
    font-weight: 300;
    font-size: 1rem;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
*, ::after, ::before {
    box-sizing: border-box;
}
header {
    display: block;
    unicode-bidi: isolate;
}
