.navbar 
{
    display: flex;
    background-color: blue;  
    width: 599px;
}

.menu {
    display: flex;
    align-items: center; 
    padding: 10px 15px; 
    border-right: 2px solid black; 
    
}

.menu a {
    color: white;
    display: flex;
    align-items: center;
}

.smile {
    margin-right: 8px;
}